$header-font: "Lato";
$body-font: "Open Sans";

body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: $header-font;
}

.no-margin {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

textarea {
    resize: none;
    height: 140px !important;
}
