<div id="home">
    <div class="top">
        <div class="left">
            <div class="logo">
                BALANCING ACT
            </div>
        </div>
        <div class="right">
            <a href="#login" class="login">
                LOG IN
            </a>
            <a href="#signup" class="signup">
                SIGN UP
            </a>
        </div>
    </div>
    <div class="intro">
        <p>
            Find balance in your life by careful life-planning through this app
        </p>
        <a href="#signup" class="get-started">GET STARTED</a>
    </div>
</div>
