$sea: #56cde7;
$sea-mid: #1da9c9;
$sea-dark: #16849c;

//Colors from old template
$light-red: #ec7979;
$light-red-dark: #e64d4d;
$light-red-darker: #e23636;

$red: #df2020;
$red-dark: #b31919;
$red-darker: #9c1616;

$smoke: #e6e6e6;
